    *,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
body,
html {
  height: 100%;
    background-image: url(images/back2.jpg);
  background-repeat: repeat;
}

.navigation {
  width: 100%;
  height: 100%;
}

.dropdown {
  width: 80%;
  margin: 5% auto 0 auto;
  box-shadow: 5px 3px 10px rgba(0, 0, 0, 0.6);
  background-image: url(images/image1.jpg);
  background-repeat: repeat-y;
  background-position: right;
  background-color: #e6e8ea;
  background-size: 400px;
  max-width: 800px;
  border-radius: 100px;
}
.dropdown .slider {
  width: 100%;
  height: 300px;
  background-color: #f03861;
}
.dropdown .information {
  width: 100%;
  padding: 20px 50px;
  margin-bottom: 30px;
  font-family: "Open Sans", sans-serif;
}
.dropdown .information h1 {
  color: #333;
  font-size: 1.5rem;
  padding: 0px 10px;
  border-left: 3px solid #f03861;
}
.dropdown .information h3 {
  color: #e0e0e0;
  font-size: 1rem;
  font-weight: 300;
  padding: 0px 10px;
  border-left: 3px solid #f03861;
}
.dropdown .information p {
  padding: 10px 0px;
}
.dropdown ul {
  font-size: 0;
  list-style-type: none;
}
.dropdown ul li {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #333;
  display: inline-block;
  padding: 15px;
  position: relative;
}
.dropdown ul li ul {
  display: none;
}
.dropdown ul li:hover {
  cursor: pointer;
  background-color: #f2f2f2;
}
.dropdown ul li:hover ul {
  display: block;
  margin-top: 15px;
  width: 200px;
  left: 0;
  position: absolute;
}
.dropdown ul li:hover ul li {
  display: block;
  background-color: #e7e7e7;
}
.dropdown ul li:hover ul li span {
  float: right;
  color: #f9f9f9;
  background-color: #f03861;
  padding: 2px 5px;
  text-align: center;
  font-size: 0.8rem;
  border-radius: 3px;
}
.dropdown ul li:hover ul li:hover {
  background-color: #e0e0e0;
}
.dropdown ul li:hover ul li:hover span {
  background-color: #ee204e;
}
.arrow {
  border: solid black;
  position: relative;
  bottom: 3px;
  border-width: 0 1px 1px 0px;
  display: inline-block;
  padding: 2px;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.dropdown a{
  text-decoration: none;
  color: black;
}




/*for footer*/
footer{
   padding: 20px;
   background-color: #2b2b2b;
   margin-top: 10px;
}
footer, p{
  color: #d7dbdb;
  text-align: center;
  font-family: "Arial";
}
footer, b{
  color: white;
}

/*main*/
.card{
 /* border-color: black;
  border-style: solid;*/
  width: 90%;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
.section1 {

}
.section1 *{
  color: black;
}
.section1 p{
  text-align: left;
}
.section2{
  float: right;
}
.section2::after {
  content: "";
  clear: both;
  display: table;
}
/*Header boss*/
header {
  margin-top: 0;
  margin-bottom: 10px;
}

.logo{
  display: flex;
  align-items: center;

}
.judul{
  width: 60%;
  margin: auto;
  text-align: center;
}
.judul img {
  float: left;
  width: 100px;
  height: 100px;
  display: block;
  margin: auto;
}

