* {
	margin: 0;
	padding: 2px;
	position: relative;
	
}
body {
	-ms-display: flex;
	display: flex;
	background-image: url("../images/hexa.png");
	justify-content: center;
}

.container {
	width: 90%;
	display: flex;
	-ms-display: flex;
	justify-content: center;
	flex-direction: column;
	-ms-flex-direction: column;
}

 /*    		Header		*/

.header{
	border-radius: 8px;
	width: 100%;
}
.title {
	display: flex;
	-ms-display: flex;
	justify-content: center;
	font-family: 'Open Sans',sans-serif;
}
.title .pokeball{
	bottom: 10px;
}
.poke,.poke1,.poke2,.poke3 {
	overflow: hidden;
	position: absolute;
	z-index: -1;
	right: 10%;
	top: -6px;
	height: 190px;
}.poke {right: 3%}.poke1 {left: 2%}.poke2{left: 25%; top: -10px}.poke3{right: 28%; top: -1cm;}


/*  	Navbar		*/
.topnav {
	background-image: url("../images/black.jpg");
	background-position: bottom;
	overflow: hidden;
	width: 85%;
	border-radius: 8px;
	margin: auto;
	box-shadow: 0px 0px 4px white;
/*	position: fixed;
*/	z-index: 3;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.sticky + .content {
  padding-top: 60px;
}
.topnav a {
	float: left;
	display: flex;
	-ms-display: flex;
	color: #f2f2f2;
	text-align: center;
	padding: 13px 45px;
	text-decoration: none;
	font-size: 17px;
}
.topnav a:hover {
	background-color: ;
	color: black;
}
.topnav .icon {
	display: none;
}
.topnav .active{
	font-size: 30px;
	margin-left: 5px;
	color: white;
	padding: 0;
}
.topnav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin: 8px 10px;
  font-size: 15px;
  border-radius: 10px;
  outline: 0;
  cursor: text;
  position: relative;
}
.topnav form button {
	font-size: 16px;
	position: absolute;
	right: 0;
	margin-right: 18px;
	margin-top: 10px;
	background-color: white;
	border: none;
	outline: none;
	cursor: pointer;
}
@media screen and (sc) {
	.topnav {
		position: unset;
	}
}
@media screen and (max-width: 680px) {
	.topnav a {
		font-size: 12px;
		padding: 10px 8px;
		float: none;
	}
	.topnav {
		width: 95%;
		padding-left: 10px; 
	}
	.topnav input {
		font-size: 12px;
		width: 94%;
	}
	.poke,.poke1,.poke2,.poke3 {
		height: 90px;
		top: 0.5%
	}
	.poke2,.poke3{top: -0.2%}
}

@media only screen and (min-width: 680px) and (max-width: 794px) {
	.topnav a {
		font-size: 15px;
		padding: 10px 12px;
	}
	.topnav {
		width: 95%
	}
	.poke,.poke1,.poke2,.poke3{
		height: 130px
	}
}
@media only screen and (min-width: 794px) and (max-width: 1150px) {
	.topnav a {
		font-size: 17px;
		padding: 10px 20px;

	}
	.topnav {
		width: 95%;
	}

}
@media and screen and (min-height: 200px;) {
	.topnav {
		position: fixed;
	}
}

/* slide */
.slider{margin: auto;}
.smerf-container {
  position: relative;
  overflow: hidden;
  width: 80%;
  height: 400px;
}

.smerf-item {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition-property: opacity;
}

.smerf-item img {
    width: 100%;
    height: 100%;

}

.smerf-item a {
    left: 20px;
    display: block;
    position: absolute;
    bottom: 20px;
  	background: #151515;
    background: rgb(0 0 0 / 60%);
    font-size: 21px;
    color: #fff;
    padding: 5px 30px;
  	font-weight: bold;
  	z-index:99
}
    
.smerf-item a:hover {
    color: #3dff00;
}

.smerf-item:nth-of-type(1) {
  background: #69d2e7;
}

.smerf-item:nth-of-type(2) {
  background: #fa6900;
}

.smerf-item:nth-of-type(3) {
  background: #1fda9a;
}

.smerf-item:nth-of-type(4) {
  background: #e8b71a;
}

.smerf-item:nth-of-type(5) {
  background: #9b539c;
}
@media (max-width:800px) {
  .smerf-container {height:400px}
}
@media (max-width:720px) {
  .smerf-container {height:320px}
  .smerf-item a {font-size:19px}
}
@media (max-width:520px) {
  .smerf-container {height:250px}
  .smerf-item a {font-size:18px}
}


/* 	 Container Content	 */
.content {
	margin: 10px 0;
	background-image: url("../images/container.jpg");
	background-size: cover;
	height: 1000px;
	border-radius: 8px;
	opacity: 0.9;
	padding: 15px;
	position: relative;
	/*display: flex;*/

}
.content .stick1 {
	right: 0;
	margin-right: 20px;
}
.content .stick2 {
	left: 0;
	margin-left: 20px
}.content .stick1,.content .stick2 {opacity: 0.5;height: 110px;position: absolute;}

/*	Footer	*/
.container .footer {
	border-radius: 8px;
	background-size: auto;

}
.container .footer h3 {
	color: white
}

